GitPython==3.1.43
Jinja2==3.1.4
MarkupSafe==2.1.5
PyYAML==6.0.1
Pygments==2.18.0
SimpleITK==2.3.1
aiohttp==3.9.5
aiosignal==1.3.1
appnope==0.1.4
asttokens==2.4.1
async-timeout==4.0.3
attrs==23.2.0
certifi==2024.6.2
charset-normalizer==3.3.2
click==8.1.7
comm==0.2.2
contourpy==1.2.1
cycler==0.12.1
debugpy==1.8.1
decorator==5.1.1
docker-pycreds==0.4.0
exceptiongroup==1.2.0
executing==2.0.1
filelock==3.14.0
fonttools==4.53.0
frozenlist==1.4.1
fsspec==2024.6.0
gitdb==4.0.11
idna==3.7
importlib_metadata==7.1.0
ipykernel==6.29.3
ipython==8.25.0
jedi==0.19.1
jupyter_client==8.6.2
jupyter_core==5.7.2
kiwisolver==1.4.5
lightning-utilities==0.11.2
lightning==2.2.5
matplotlib-inline==0.1.7
matplotlib==3.9.0
monai==1.3.1
mpmath==1.3.0
multidict==6.0.5
nest_asyncio==1.6.0
networkx==3.3
nibabel==5.2.1
numpy==1.26.4
packaging==24.0
parso==0.8.4
pexpect==4.9.0
pickleshare==0.7.5
pillow==10.3.0
pip==24.0
platformdirs==4.2.2
prompt_toolkit==3.0.46
protobuf==4.25.3
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
pyparsing==3.1.2
python-dateutil==2.9.0
python-dotenv==1.0.1
pytorch-lightning==2.2.5
pyzmq==26.0.3
requests==2.32.3
rootutils==1.0.7
sentry-sdk==2.4.0
setproctitle==1.3.3
setuptools==70.0.0
six==1.16.0
smmap==5.0.1
stack-data==0.6.2
sympy==1.12.1
torch==2.3.1
torchmetrics==1.4.0.post0
torchvision==0.18.1
tornado==6.4
tqdm==4.66.4
traitlets==5.14.3
typing_extensions==4.12.1
urllib3==2.2.1
wandb==0.17.0
wcwidth==0.2.13
wheel==0.43.0
yarl==1.9.4
zipp==3.17.0